body{
    background-color:#111;
    padding: 0.5em;
}

h3 {
    margin: 0em;
}
ul {
    padding: 0em;
    margin: 0em;
}

fieldset > ul > li.buttons,
fieldset > ul > li.list
{
    margin: 0.25em 0em;
    padding: 0.5em 1em;
}
fieldset > input[type=checkbox]
{
    display: none;
}

fieldset > input[type=checkbox]:checked + legend
{
    background-color: #f00;
}

fieldset > input[type=checkbox]:checked + legend + ul
{
    display: none;
    max-height: 1em;
}

fieldset {
    display: block;
    position: relative;
    padding: 0em;
    background-color: #aaa;
    color: #111;
    padding: 0.5em;
    margin: 0em;
    border: 1px solid #111;
    border-radius: 1em;
    text-align: left;
    vertical-align: top;
}
fieldset+fieldset
{
    margin-top:0.5em;
}
fieldset+li.list
{
    margin-top:1em;
}
fieldset legend {
    background-color: #ccc;
    color: #111;
    padding: 0em 1em;
    border-radius: 1em;

}

.buttons {
    display: inline-block;
    position: relative;
    background-color: #eee;
    color: #111;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    vertical-align: top;
}

.buttons > img {
    display: block;
    padding: 0em;
    margin: 0em auto ;
    margin-bottom: 0.5em ;
    max-height: 100px;
    max-width: 300px;
}


.list {
    display: block;
    position: relative;
    background-color: #eee;
    color: #111;
    padding: 1em;
    border-radius: 1em;
    text-align: left;
    vertical-align: top;
}

.list:hover,
.buttons:hover {
    box-shadow: 0em 0em 0em 0.2em #222;
}
.list:active,
.buttons:active {
    box-shadow: 0em 0em 0em 0.4em #222;
}

.list .text-block{
    display: inline-block;
    vertical-align: top;
    padding-left: 1em ;
}

.list > img {
    display: inline-block;
    vertical-align: top;
    padding: 0em;
    margin: 0em auto ;
    margin-bottom: 0.5em ;
    max-height: 100px;
    max-width: 300px;
}

.overlay {
    position: absolute;
    vertical-align: top;
    top:0px;
    left:0px;
    height: 100px;
    width: 100%;

}

.pixel
{
    background: no-repeat url('/static/site/video-pixel.png');
    background-position: center;
}
.pixel-hover:hover
{
    background: no-repeat url('/static/site/video-pixel.png');
    background-position: center;
}

.list > .pixel
{
    background-position: right;
}
.list > .pixel-hover:hover
{
    background-position: right;
}


.full
{
    background: no-repeat url('/static/site/video-full.png');
    background-position: center;
}
.full-hover:hover
{
    background: no-repeat url('/static/site/video-full.png');
    background-position: center;
}

.list > .full
{
    background-position: right;
}
.list > .full-hover:hover
{
    background-position: right;
}


.wide
{
    background: no-repeat url('/static/site/video-wide.png');
    background-position: center;
}
.wide-hover:hover
{
    background: no-repeat url('/static/site/video-wide.png');
    background-position: center;
}

.list > .wide
{
    background-position: right;
}
.list > .wide-hover:hover
{
    background-position: right;
}



.crop
{
    background: no-repeat url('/static/site/video-crop.png');
    background-position: center;
}
.crop-hover:hover
{
    background: no-repeat url('/static/site/video-crop.png');
    background-position: center;
}

.list > .crop
{
    background-position: right;
}
.list > .crop-hover:hover
{
    background-position: right;
}
