body{
    background-color:#111;
    padding: 0.5em;
}

.sources
{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 0.5em;
}

.sources img
{
    align-self: center;
}


.group > input[type=checkbox]
{
    display: none;
}

.group > input[type=checkbox]:checked + legend
{
    background-color: #c00;
    color: #fff;
}

.group > input[type=checkbox]:checked + legend + .sources,
.group > input[type=checkbox]:checked + legend + .sources + .text-block
{
    display: none;
    max-height: 1em;
}

.group legend {
    background-color: #ccc;
    color: #111;
    padding: 0em 1em;
    border-radius: 1em;

}

.group {
    flex-basis: 100%;
    position: relative;
    background-color: #aaa;
    color: #111;
    padding: 0.5em;
    margin: 0em;
    border: 1px solid #111;
    border-radius: 1em;
}

.button.group-icon
{
    background-color: rgba(0,0,0,0);
}



.list:hover,
.button:hover {
    box-shadow: 0em 0em 0em 0.2em #555;
}
.list:active,
.button:active {
    box-shadow: 0em 0em 0em 0.4em #555;
}



.button {
    background-color: #eee;
    color: #111;
    padding: 0.5em 1em ;
    border-radius: 1em;
    text-align: center;
}

.button > img {
    display: block;
    max-height: 100px;
    max-width: 300px;
}

.name
{
    font-family: sans-serif;
    margin: 0em;
}
.description
{
    margin: 0.5em;
}


.list {
    flex-basis: 100%;
    background-color: #eee;
    color: #111;
    padding: 1em;
    border-radius: 1em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
}

.list > img {
    max-height: 100px;
    max-width: 300px;
}

.list .text-block{
    flex: 1 1 300px;
    max-width: 100%;
    min-width: 300px;
}
