h3 {
    margin: 0em;
}
ul, body {
    padding: 0em;
    margin: 0em;
}

.buttons {
    display: inline-block;
    margin: 1em;
    background-color: #eee;
    color: #111;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

.buttons > img {
    display: block;
    padding: 0em;
    margin: 0em auto ;
    margin-bottom: 0.5em ;
    height: 100px;
    width: 100px;
}


.list {
    display: block;
    margin: 1em;
    background-color: #eee;
    color: #111;
    padding: 1em;
    border-radius: 1em;
    text-align: left;
    vertical-align: top;
}

.list .text-block{
    display: inline-block;
    vertical-align: top;
    padding-left: 1em ;
}

.list > img {
    display: inline-block;
    vertical-align: top;
    padding: 0em;
    margin: 0em auto ;
    margin-bottom: 0.5em ;
    height: 100px;
    width: 100px;
}
