/* Custom user CSS goes here. */

/* Dark mode example */
/*
body{
    background-color:#000;
}
.group legend {
    background-color: #222;
    color: #ddd;
}

.group > input[type=checkbox]:checked + legend
{
    background-color: #a00;
    color: #ddd;
}

.group {
    color: #ddd;
    border: 1px solid #111;
    background-color: #333;
}

.button,
.list {
    background-color: #555;
    color: #ddd;
}

.list:hover,
.buttons:hover {
    box-shadow: 0em 0em 0em 0.2em #888;
}
.list:active,
.buttons:active {
    box-shadow: 0em 0em 0em 0.4em #888;
}
*/
